<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> <%= title %> </title>
        <!-- favicon -->
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
        <!-- JavaScript -->
        <script src="./js/bundle.js" defer></script>
    </head>
    <body>